body{
    width: 100vw;
    margin: 0;
    padding: 0;
}

#menu{
    width: 100%;
    height: 100px;
    background-color: rgb(45, 93, 196); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
}
#menuLeft, #menuRight{
    margin: 0px 20px;
}
#content{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 100px);
}

#contentLeft{ 
    width: 240px;
    background-color: blueviolet;
    padding: 50px 10px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
}
#contentRight{
    flex: 1;
    background-color: brown;
    padding: 50px 10px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
}